/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-07-2021, 20:35:47
    Author     : Carlos
*/

body{
    font-family: "tahoma";
    font-size: 11pt;
    color: #000000;
    background-image:url("https://fondosmil.com/fondo/458.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset{
    border-radius: 30px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    opacity: 90%;
}

.extBorder {
    padding: 25px;
    line-height: 10px;
}

.table {
    border-radius: 5px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 1px;
    background-color: #FFFFFF;
}

.tituloItem{
    border-radius: 5px;
    padding: 6px;
    line-height: 5px;
    font-weight: bold;
    width: 180px;
    font-size: 14px;
    font-family: "tahoma";
}

.tituloTabla{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "tahoma";
}

.datosTabla{
    font-size: 12px;
    font-family: "tahoma";
}

legend{
    font-family: "tahoma";
    font-size: 12pt;
    color:#FFFFFF;
    text-align:left;
    font-weight: bold;
    border-radius: 10px;
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
    background-color: #1E80BB;
    padding: 10px 30px 10px 30px;
}

.error{
    font-family: "tahoma";
    font-size: 9pt;
    color: #C32727;
    padding: 2px 2px 5px 2px;
}

.boxText{
    font-family: "tahoma";
    size: 10pt;
    color:#191B27;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    height: 20px;
    opacity: 95%;
}

.boxNoEditable{
    font-family: "tahoma";
    size: 10pt;
    color:#6D707E;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    height: 20px;
    opacity: 95%;
}

.select{
    font-family: "tahoma";
    size: 10pt;
    color:#7a7a7a;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-color: #dedede;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    height: 30px;
    opacity: 95%;
}

.boton{
    font-family: "tahoma";
    font-weight: bold;
    font-size: 10pt;
    color:#F2F2F2;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 1px;
    width: 100px;
    height: 40px;
    background-color: #233085;
}